.signIn {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;

    &__icon {
        font-size: 5rem;
    };

    &__button{
        @include button;
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        margin-top: 1rem;
    };

    &__inputWrapper{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        label{
            font-weight: bold;
        }

        input {
            padding: 5px;
            font-size: 1.2rem;
          }
    };

    &__inputRemember{
        display: flex;

        label {
            margin-left: 0.25rem;
          }
    }
}
  
  