html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
  border: solid pink 3px;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.nav__logo {
  display: flex;
  align-items: center;
}
.nav__logo--image {
  max-width: 100%;
  width: 200px;
}
.nav__item {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;
}
.nav__item:hover {
  text-decoration: underline;
}
.nav__item--logout {
  border: none;
  background: none;
  font-weight: bold;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer__text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
}
.account__content {
  width: 100%;
  flex: 1;
}
@media (min-width: 720px) {
  .account__content.cta {
    flex: 0;
  }
}
.account__content--title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account__content--amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__content--description {
  margin: 0;
}
.account__content--button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}
@media (min-width: 720px) {
  .account__content--button {
    width: 200px;
  }
}

.formEditName {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin: auto;
}
.formEditName__input {
  margin: 7px;
}
.formEditName__input label {
  margin-right: 10px;
}
.formEditName__input input {
  border-radius: 5px;
}
.formEditName__buttons {
  margin: 15px;
  display: flex;
  gap: 15px;
}
.formEditName__buttons button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
}

.feature {
  flex: 1;
  padding: 2.5rem;
}
.feature__icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.feature__title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero {
  background-image: url("assets/img/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero-content__subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero-content__text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.signIn {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}
.signIn__icon {
  font-size: 5rem;
}
.signIn__button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
}
.signIn__inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.signIn__inputWrapper label {
  font-weight: bold;
}
.signIn__inputWrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.signIn__inputRemember {
  display: flex;
}
.signIn__inputRemember label {
  margin-left: 0.25rem;
}

.user {
  color: #fff;
  margin-bottom: 2rem;
}
.user__button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.error__title {
  font-size: 10rem;
  font-weight: bold;
  color: #00bc77;
  margin: 0;
}
.error__text {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}
.error__button {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */